In [2]:
import pandas as pd

C:\Users\seelc\AppData\Local\Temp\ipykernel_30420\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### Loading Tabular Data

In [3]:
# Census Data
census_df = pd.read_csv('./Data/census-data.csv')
census_df.columns = census_df.iloc[0]
census_df = census_df.drop(census_df.index[0])

numeric_cols = ['Estimate!!Households!!Total!!Less than $10,000',
                             'Estimate!!Households!!Total!!$10,000 to $14,999',
                             'Estimate!!Households!!Total!!$15,000 to $24,999',
                             'Estimate!!Households!!Total!!$25,000 to $34,999',
                             'Estimate!!Households!!Total!!$35,000 to $49,999',
                             'Estimate!!Households!!Total!!$50,000 to $74,999',
                             'Estimate!!Households!!Total!!$75,000 to $99,999',
                             'Estimate!!Households!!Total!!$100,000 to $149,999',
                             'Estimate!!Households!!Total!!$150,000 to $199,999',
                             'Estimate!!Households!!Total!!$200,000 or more',
                             'Estimate!!Households!!Median income (dollars)']
# Taking subset of columns
census_df_clean = census_df[['Geographic Area Name'] + numeric_cols]

# Cleaning subset
census_df_clean[['City', 'State']] = census_df_clean['Geographic Area Name'].str.split(",",expand=True)
census_df_clean['City'] = census_df_clean['City'].map(lambda x: x.rstrip(' city'))
census_df_clean[numeric_cols] = census_df_clean[numeric_cols].apply(pd.to_numeric, errors='coerce')
census_df_clean.head(10)

C:\Users\seelc\AppData\Local\Temp\ipykernel_30420\883644820.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  census_df_clean[['City', 'State']] = census_df_clean['Geographic Area Name'].str.split(",",expand=True)
C:\Users\seelc\AppData\Local\Temp\ipykernel_30420\883644820.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  census_df_clean[['City', 'State']] = census_df_clean['Geographic Area Name'].str.split(",",expand=True)
C:\Users\seelc\AppData\Local\Temp\ipykernel_30420\883644820.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  census_df_clean['City'] = census_df_clean['City'].map(lambda x: x.rstrip(' city'))
C:\Users\seelc\AppData\Local\Temp\ipykernel_30420\883644820.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  census_df_clean[numeric_cols] = census_df_clean[numeric_cols].apply(pd.to_numeric, errors='coerce')

,Geographic Area Name,"Estimate!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Estimate!!Households!!Total!!$25,000 to $34,999","Estimate!!Households!!Total!!$35,000 to $49,999","Estimate!!Households!!Total!!$50,000 to $74,999","Estimate!!Households!!Total!!$75,000 to $99,999","Estimate!!Households!!Total!!$100,000 to $149,999","Estimate!!Households!!Total!!$150,000 to $199,999","Estimate!!Households!!Total!!$200,000 or more",Estimate!!Households!!Median income (dollars),City,State
1,"Auburn city, Alabama",16.8,7.7,6.8,5.8,13.8,12.7,9.3,9.4,9.9,7.8,48531,Auburn,Alabama
2,"Birmingham city, Alabama",12.8,7.7,14.3,12.5,14.8,15.4,8.2,7.8,3.1,3.5,36614,Birmingham,Alabama
3,"Dothan city, Alabama",9.8,6.5,10.4,13.9,13.6,16.9,9.8,9.2,5.2,4.6,45088,Dothan,Alabama
4,"Hoover city, Alabama",4.7,2.3,5.7,4.2,7.2,14.2,12.3,21.7,12.3,15.5,99276,Hoover,Alabama
5,"Huntsville city, Alabama",6.2,3.9,5.6,7.4,14.4,14.6,14.6,15.6,8.1,9.8,70757,Huntsville,Alabama
6,"Mobile city, Alabama",10.3,6.4,11.6,12.2,15.8,16.4,8.8,10.2,3.7,4.6,43786,Mobile,Alabama
7,"Montgomery city, Alabama",9.3,7.9,11.4,11.3,11.8,18.0,12.5,10.7,3.5,3.6,46957,Montgomer,Alabama
8,"Tuscaloosa city, Alabama",13.4,6.8,10.7,13.1,10.4,14.9,8.6,11.0,5.1,6.1,41770,Tuscaloosa,Alabama
9,"Anchorage municipality, Alaska",4.8,2.3,5.4,6.3,8.7,15.7,13.3,20.0,11.4,12.0,86654,Anchorage municipal,Alaska
10,"Avondale city, Arizona",7.1,3.8,3.4,6.4,12.3,20.4,12.2,21.4,10.0,3.0,71423,Avondale,Arizona

In [4]:
# Top 50 Cities
city_df = pd.read_csv('./Data/CityList.csv')
print(city_df.columns)
city_df.head(10)

Index(['2022', 'City', 'State[c]', '2022.1', '2020', 'Change',
       '2020 land area', '2020 population density', 'Location', 'Latitude',
       'Longitude'],
      dtype='object')

,2022,City,State[c],2022.1,2020,Change,2020 land area,2020 population density,Location,Latitude,Longitude
0,1,New York,New York,8335897,8804190,−5.32%,300.5 sq mi,"29,298/sq mi",40.66°N 73.94°W,40.6600,73.94
1,2,Los Angeles,California,3822238,3898747,−1.96%,469.5 sq mi,"8,304/sq mi",34.02°N 118.41°W,34.0200,118.41
2,3,Chicago,Illinois,2665039,2746388,−2.96%,227.7 sq mi,"12,061/sq mi",41.84°N 87.68°W,41.8400,87.68
3,4,Houston,Texas,2302878,2304580,−0.07%,640.4 sq mi,"3,599/sq mi",29.79°N 95.39°W,29.7900,95.39
4,5,Phoenix,Arizona,1644409,1608139,0.0226,518.0 sq mi,"3,105/sq mi",33.57°N 112.09°W,33.5700,112.09
5,6,Philadelphia,Pennsylvania,1567258,1603797,−2.28%,134.4 sq mi,"11,933/sq mi",40.01°N 75.13°W,40.0100,75.13
6,7,San Antonio,Texas,1472909,1434625,0.0267,498.8 sq mi,"2,876/sq mi",29.46°N 98.52°W,29.4600,98.52
7,8,San Diego,California,1381162,1386932,−0.42%,325.9 sq mi,"4,256/sq mi",32.81°N 117.14°W,32.7178,117.16
8,9,Dallas,Texas,1299544,1304379,−0.37%,339.6 sq mi,"3,841/sq mi",32.79°N 96.77°W,32.7900,96.77
9,10,Austin,Texas,974447,961855,0.0131,319.9 sq mi,"3,007/sq mi",30.30°N 97.75°W,30.3000,97.75

### Merging DataSets

In [5]:
result = pd.merge(city_df, census_df_clean, how="left", on=["City", "City"])
result.dropna()
result = result[result['Estimate!!Households!!Median income (dollars)'] > 0]
result.head(10)

,2022,City,State[c],2022.1,2020,Change,2020 land area,2020 population density,Location,Latitude,...,"Estimate!!Households!!Total!!$15,000 to $24,999","Estimate!!Households!!Total!!$25,000 to $34,999","Estimate!!Households!!Total!!$35,000 to $49,999","Estimate!!Households!!Total!!$50,000 to $74,999","Estimate!!Households!!Total!!$75,000 to $99,999","Estimate!!Households!!Total!!$100,000 to $149,999","Estimate!!Households!!Total!!$150,000 to $199,999","Estimate!!Households!!Total!!$200,000 or more",Estimate!!Households!!Median income (dollars),State
0,1,New York,New York,8335897,8804190,−5.32%,300.5 sq mi,"29,298/sq mi",40.66°N 73.94°W,40.6600,...,7.8,7.3,9.9,14.2,11.2,14.4,8.0,12.8,67997.0,New York
1,2,Los Angeles,California,3822238,3898747,−1.96%,469.5 sq mi,"8,304/sq mi",34.02°N 118.41°W,34.0200,...,7.9,7.6,9.7,14.4,12.3,14.9,8.1,12.4,70372.0,California
2,3,Chicago,Illinois,2665039,2746388,−2.96%,227.7 sq mi,"12,061/sq mi",41.84°N 87.68°W,41.8400,...,8.3,7.9,9.6,15.2,12.1,14.6,7.2,11.5,66576.0,Illinois
3,4,Houston,Texas,2302878,2304580,−0.07%,640.4 sq mi,"3,599/sq mi",29.79°N 95.39°W,29.7900,...,9.0,10.9,13.1,17.5,10.2,11.6,5.7,9.1,55499.0,Texas
4,5,Phoenix,Arizona,1644409,1608139,0.0226,518.0 sq mi,"3,105/sq mi",33.57°N 112.09°W,33.5700,...,7.0,8.2,12.8,17.6,13.6,16.6,7.0,8.6,68435.0,Arizona
5,6,Philadelphia,Pennsylvania,1567258,1603797,−2.28%,134.4 sq mi,"11,933/sq mi",40.01°N 75.13°W,40.0100,...,8.6,9.2,11.5,15.1,11.4,13.1,6.1,6.4,52899.0,Pennsylvania
6,7,San Antonio,Texas,1472909,1434625,0.0267,498.8 sq mi,"2,876/sq mi",29.46°N 98.52°W,29.4600,...,9.5,10.3,14.0,19.1,12.1,13.3,5.6,4.7,54923.0,Texas
7,8,San Diego,California,1381162,1386932,−0.42%,325.9 sq mi,"4,256/sq mi",32.81°N 117.14°W,32.7178,...,5.1,4.8,8.0,15.5,11.7,19.4,11.3,16.3,93042.0,California
8,9,Dallas,Texas,1299544,1304379,−0.37%,339.6 sq mi,"3,841/sq mi",32.79°N 96.77°W,32.7900,...,8.8,8.2,13.7,19.3,10.3,12.5,5.4,9.6,57995.0,Texas
9,10,Austin,Texas,974447,961855,0.0131,319.9 sq mi,"3,007/sq mi",30.30°N 97.75°W,30.3000,...,5.9,5.8,11.6,15.4,12.5,16.0,9.7,14.6,79542.0,Texas

### Adding Graffiti DataSet

In [6]:
graffiti_df = pd.read_csv('./Data/Image Count by City.csv')
graffiti_df.head(10)

,Unnamed: 0,City,Non_Graffiti_Count,Graffiti_Count,Total_Images
0,0,Phoenix,277,1.0,278.0
1,1,Portland,467,5.0,472.0
2,2,Raleigh,454,0.0,454.0
3,3,Sacramento,419,0.0,419.0
4,4,San Antonio,480,1.0,481.0
5,5,San Diego,321,2.0,323.0
6,6,San Franciscoh,465,9.0,474.0
7,7,San Jose,464,0.0,464.0
8,8,Seattle,424,6.0,430.0
9,9,Tampa,478,2.0,480.0

In [9]:
combined = pd.merge(result, graffiti_df, how="left", on=["City", "City"])
combined = combined.dropna()
combined.head(10)

,2022,City,State[c],2022.1,2020,Change,2020 land area,2020 population density,Location,Latitude,...,"Estimate!!Households!!Total!!$75,000 to $99,999","Estimate!!Households!!Total!!$100,000 to $149,999","Estimate!!Households!!Total!!$150,000 to $199,999","Estimate!!Households!!Total!!$200,000 or more",Estimate!!Households!!Median income (dollars),State,Unnamed: 0,Non_Graffiti_Count,Graffiti_Count,Total_Images
4,5,Phoenix,Arizona,1644409,1608139,0.0226,518.0 sq mi,"3,105/sq mi",33.57°N 112.09°W,33.57000,...,13.6,16.6,7.0,8.6,68435.0,Arizona,0.0,277.0,1.0,278.0
6,7,San Antonio,Texas,1472909,1434625,0.0267,498.8 sq mi,"2,876/sq mi",29.46°N 98.52°W,29.46000,...,12.1,13.3,5.6,4.7,54923.0,Texas,4.0,480.0,1.0,481.0
7,8,San Diego,California,1381162,1386932,−0.42%,325.9 sq mi,"4,256/sq mi",32.81°N 117.14°W,32.71780,...,11.7,19.4,11.3,16.3,93042.0,California,5.0,321.0,2.0,323.0
12,12,San Jose,California,971233,1013240,−4.15%,178.3 sq mi,"5,683/sq mi",37.30°N 121.81°W,37.34038,...,10.5,16.9,12.4,30.3,126377.0,California,7.0,464.0,0.0,464.0
18,18,Seattle,Washington,749256,737015,0.0166,83.8 sq mi,"8,795/sq mi",47.62°N 122.35°W,47.62110,...,9.3,16.4,11.1,26.5,110781.0,Washington,8.0,424.0,6.0,430.0
24,26,Portland,Oregon,635067,652503,−2.67%,133.5 sq mi,"4,888/sq mi",45.54°N 122.65°W,45.53710,...,15.1,13.0,8.6,10.6,70244.0,Maine,1.0,467.0,5.0,472.0
25,26,Portland,Oregon,635067,652503,−2.67%,133.5 sq mi,"4,888/sq mi",45.54°N 122.65°W,45.53710,...,12.3,17.4,9.5,12.8,79057.0,Oregon,1.0,467.0,5.0,472.0
30,33,Tucson,Arizona,546574,542629,0.0073,241.0 sq mi,"2,252/sq mi",32.15°N 110.87°W,32.15000,...,12.7,11.6,4.2,3.6,50306.0,Arizona,10.0,118.0,0.0,118.0
32,35,Sacramento,California,528001,524943,0.0058,98.6 sq mi,"5,324/sq mi",38.57°N 121.47°W,38.57000,...,13.2,20.0,7.7,9.3,75311.0,California,3.0,419.0,0.0,419.0
37,41,Raleigh,North Carolina,476587,467665,0.0191,147.1 sq mi,"3,179/sq mi",35.83°N 78.64°W,35.83000,...,13.3,16.6,8.3,11.7,74612.0,North Carolina,2.0,454.0,0.0,454.0

### Writing Final Output

In [11]:
combined.to_csv('./Data/combined.csv')